.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }


.logo {
  height: 60px;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
